body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

#page {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.5s ease;
  opacity: 0;
}

#page-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: min(100%, 90vh);
  margin: 0 auto;
  transition: transform 0.5s ease; /* smooth animation */
}

#page-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}