@font-face {
	font-family: "Palatino Linotype";
	src: url("/pala.ttf") format("truetype");
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Palatino Linotype";
	font-size: 18px;
}

html, body {
	overscroll-behavior: none;
	touch-action: none;
	overflow: hidden;
}

button {
	font-family: "Palatino Linotype";
}

#fade {
	background-color: rgb(0, 0, 0);
	transition: opacity 1s ease;
	position: absolute;
	inset: 0;
	pointer-events: none;
}

#three {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
}

/* page */
#page {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.5s ease;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: min(100%, 1100px);
	transition: transform 0.5s ease; /* smooth animation */
	transform: translateY(50px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0px;
}

#page-top-bar {
	height: 50px;
	min-height: 50px;
	background: linear-gradient(
		45deg,
		/* rgba(158, 99, 173, 0.6) 0%, */
		rgba(173, 164, 99, 0.6) 0%,
		rgba(99, 169, 173, 0.6) 100%
	);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#page-close-parent {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: flex-end;
}

#page-close {
	height: inherit;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-project-tags {
	min-height: 15px;
	max-height: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 6px 0 4px 0;
	gap: 4px;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.9) 0%,
		rgb(30, 0, 60) 10%,
		rgb(30, 0, 60) 90%,
		rgba(0, 0, 0, 0.9) 100%
	);
}

#page-content-parent {
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 20px 0 20px;
}

#page-content {
	text-align: center;
}

/* page elements */
h1, h2 {
	margin: 40px 0 40px 0;
}

h3 {
	margin: 30px 0 30px 0;
}

p {
	margin: 25px 0 25px 0;
}

img {
	margin: 30px 0 30px 0;
}

/* content pairs */
.content-pair-left, .content-pair-right {
	width: 100%;
	margin: 20px 0 20px 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

.content-pair-left {
	text-align: start;
}

.content-pair-right {
	text-align: end;
}

.content-pair-left > :first-child, .content-pair-right > :first-child {
	width: 40%;
}

.content-pair-right > :last-child {
	order: -1;
}

.content-pair-left > :last-child, .content-pair-right > :last-child {
	flex: 1;
}

@media (max-width: 600px) {
	.content-pair-left, .content-pair-right {
		gap: 0;
		text-align: center;
	}

	.content-pair-left, .content-pair-right {
		flex-direction: column;
	}

	.content-pair-left > :first-child, .content-pair-right > :first-child {
		width: 100%;
	}

	.content-pair-left > :last-child, .content-pair-right > :last-child {
		order: 1;
		margin-bottom: 40px;
	}
}

.video {
	border: 0px;
	margin: 20px 0 20px 0;
}

/* descripted items */
.descripted-item {
	width: 100%;
	margin: 20px 0 20px 0;
	text-align: center;
}

.descripted-item p {
	margin: 10px;
	font-style: italic;
	font-size: 18px;
}

.descripted-item > * {
	margin: 0;
}

/* text break */
.spacer {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	height: 2px;
	width: 100%;
	margin: 50px 0 50px 0;
}

/* carousel */
.content-carousel {
	position: relative;
}

/* carousel viewport */
.content-carousel > :first-child {
	display: flex;
	align-items: center;
	overflow: hidden;
}

/* carousel images */
.content-carousel > :first-child > :first-child > * {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* carousel controls container */
.content-carousel > :first-child > :last-child {
	position: absolute;
	width: 100%;
	padding: 0;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}

/* carousel controls */
.content-carousel > :first-child > :last-child > * {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	user-select: none;
}

.content-carousel > :first-child > :last-child > *:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* carousel left control */
.content-carousel > :first-child > :last-child > :first-child {
	left: 0px;
}

/* carousel right control */
.content-carousel > :first-child > :last-child > :last-child {
	right: -1px;
}

/* carousel dot container */
.content-carousel > :last-child {
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

/* carousel dots */
.content-carousel > :last-child > * {
	height: 30%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: white;
	opacity: 0.2;
	transition: opacity 0.4s ease;
}

/* go to path links */
.go-to-path-link {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	background-color: #8a2be2;
	border-style: none;
	border-radius: 2px;
	vertical-align: middle;
	color: white;
}

.go-to-path-link:hover {
	background-color: #6d20b5;
}

.go-to-path-link:active {
	background-color: #290d43;
}

/* tags */
.category-tag, .skill-tag {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	border-style: none;
	border-radius: 2px;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
	font-size: 12px;
}

.category-tag {
	background-color: #8a2be2;
}

.category-tag:hover {
	background-color: #6d20b5;
}

.category-tag:active {
	background-color: #290d43;
}

.skill-tag {
	background-color: #c76a00;
}

.skill-tag:hover {
	background-color: #985100;
}

.skill-tag:active {
	background-color: #532c00;
}