@font-face {
	font-family: "Palatino Linotype";
	src: url("/pala.ttf") format("truetype");
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Palatino Linotype";
	font-size: 20px;
}

html, body {
	overscroll-behavior: none;
	touch-action: none;
}

#three {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#page {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.5s ease;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: min(100%, 90vh);
	transition: transform 0.5s ease; /* smooth animation */
	transform: translateY(50px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0px;
}

#page-top-bar {
	height: 50px;
	background-color: rgba(99, 169, 173, 0.418);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-close {
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	aspect-ratio: 1;
	left: 100%;
	transform: translate(-100%);
}

#page-content-parent {
	flex-grow: 1;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);
}

#page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#fade {
	background-color: rgb(0, 0, 0);
	transition: opacity 1s ease;
	position: absolute;
	inset: 0;
	pointer-events: none;
}

/* image pairs */
.image-pair-left, .image-pair-right {
	width: 100%;
}

.image-pair-right {
	text-align: end;
}

/* image pair images */
.image-pair-left img, .image-pair-right img {
	width: 40%;
	padding: 20px;
}

.image-pair-left img {
	float: left;
}

.image-pair-right img {
	float: right;
}