@font-face {
	font-family: "Palatino Linotype";
	src: url("/pala.ttf") format("truetype");
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Palatino Linotype";
	font-size: 18px;
}

html, body {
	overscroll-behavior: none;
	touch-action: none;
	overflow: hidden;
}

#fade {
	background-color: rgb(0, 0, 0);
	transition: opacity 1s ease;
	position: absolute;
	inset: 0;
	pointer-events: none;
}

#three {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
}

/* page */
#page {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.5s ease;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: min(100%, 1100px);
	transition: transform 0.5s ease; /* smooth animation */
	transform: translateY(50px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0px;
}

#page-top-bar {
	height: 50px;
	min-height: 50px;
	background-color: rgba(99, 169, 173, 0.418);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#page-close-parent {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: flex-end;
}

#page-close {
	height: inherit;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-content-parent {
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 20px 0 20px;
}

#page-content {
	text-align: center;
}

/* page elements */
h1, h2 {
	margin: 40px 0 40px 0;
}

h3 {
	margin: 30px 0 30px 0;
}

p {
	margin: 25px 0 25px 0;
}

img {
	margin: 30px 0 30px 0;
}

/* image pairs */
.image-pair-left, .image-pair-right {
	width: 100%;
	margin: 20px 0 20px 0;
	overflow: auto;
}

.image-pair-left {
	text-align: start;
}

.image-pair-right {
	text-align: end;
}

/* image pair images */
.image-pair-left div, .image-pair-right div {
	width: 40%;
}

.image-pair-left div {
	float: left;
	padding: 0 40px 0 0;
}

.image-pair-right div {
	float: right;
	padding: 0 0 0 40px;
}

.image-pair-left div > *, .image-pair-right div > * {
	margin: 0;
}

.video {
	border: 0px;
	margin: 20px;
}

/* descripted items */
.descripted-item {
	width: 100%;
	margin: 20px 0 20px 0;
	text-align: center;
}

.descripted-item p {
	margin: 10px;
	font-style: italic;
	font-size: 18px;
}

.descripted-item > * {
	margin: 0;
}

/* text break */
.spacer {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	height: 2px;
	width: 100%;
	margin: 50px 0 50px 0;
}
